<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"></springProperty>
    <springProperty scope="context" name="active" source="spring.profiles.active"></springProperty>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}#%M[%L]){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">-->
<!--        &lt;!&ndash; Graylog服务的地址 &ndash;&gt;-->
<!--        <graylogHost>172.16.8.102</graylogHost>-->
<!--        &lt;!&ndash; TCP Input端口 &ndash;&gt;-->
<!--        <graylogPort>12201</graylogPort>-->
<!--        <encoder class="de.siegmar.logbackgelf.GelfEncoder">-->
<!--            &lt;!&ndash; 是否发送原生的日志信息 &ndash;&gt;-->
<!--            <includeRawMessage>false</includeRawMessage>-->
<!--            <includeMarker>true</includeMarker>-->
<!--            <includeMdcData>true</includeMdcData>-->
<!--            <includeCallerData>false</includeCallerData>-->
<!--            <includeRootCauseData>false</includeRootCauseData>-->

<!--            &lt;!&ndash; 是否发送日志级别的名称，否则默认以数字代表日志级别 &ndash;&gt;-->
<!--            <includeLevelName>true</includeLevelName>-->
<!--            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <pattern>%m%nopex</pattern>-->
<!--            </shortPatternLayout>-->
<!--            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS }  [%level] ${PID:- } -&#45;&#45; [%15.15thread] %-40.40logger{39}#%M[%L] - %msg %n</pattern>-->
<!--            </fullPatternLayout>-->
<!--            &lt;!&ndash;-->
<!--             配置应用名称（服务名称），通过staticField标签可以自定义一些固定的日志字段-->
<!--            &ndash;&gt;-->
<!--            <staticField>app_name:${applicationName}</staticField>-->
<!--            <staticField>profile:${active}</staticField>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 控制台输出日志级别 -->
    <root level="info">
<!--        <appender-ref ref="GELF" />-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>